h1 {
    background-color:aquamarine;
    text-align:center;
    max-width:400px;
}

#pic {
    float:right;
    position:relative;
    right:250px;
}

body {
    max-width:800px;
    margin:auto;
}

#links {
    list-style-type:none;
}

footer {
    background-color:aquamarine;
    max-width:400px;
}